#root {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 55000;
  font-style: normal;
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 00;
  font-style: normal;
}
.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}
.jersey-25-charted-regular {
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
